#root {
    display: grid;
    grid-template-areas:
        "title    ."
        "grid     ."
        "grid     .";
    grid-template-columns: 80fr 20fr;
}

#root {
    font-size: 2rem;
}

.title {
    grid-area: title;
}

.plant-grid {
    grid-area: grid;
}
